<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/auth/login" method="post">
      <input
        type="text"
        class="username"
        name="username"
        placeholder="Enter username ..."
      />
      <input
        type="password"
        class="password"
        name="password"
        placeholder="Enter password ..."
      />

      <div class="captcha"></div>
      <input type="hidden" class="uuid" name="uuid" />
    </form>

    <script>
      (async function () {
        const captcha = document.querySelector(".captcha");
        const uuid = document.querySelector(".uuid");

        const res = await fetch("/captcha");
        const response = await res.json();

        uuid.value = response.uuid;
        captcha.innerHTML = response.captcha;
      })();
    </script>
  </body>
</html>
